@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family:'Poppins', sans-serif;
}
h1{
    text-align: center;
}
.man-center{
    display: grid;
    place-content: center;
}
.man-container{
    font-size:3rem;
}
.head::after{
    visibility: hidden;
    content: "O";
    margin-left: 10px;
    margin-bottom: -10px;
}
.center-body::before{
    visibility: hidden;
    content: "|";
    margin-top: -20px;
}
.left-arm::before{
    visibility: hidden;
    content: "/";
}
.right-arm::after{
    visibility: hidden;
    content: "\\";
}
.left-leg::before{
    visibility: hidden;
    content: "/";
}
.right-leg::after{
    visibility: hidden;
    content: " \\";
}